@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Nunito+Sans:wght@200;300;400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  background-color: $white;
}

a {
  color: $primaryColor;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
}

h2 {
  margin-top: 2em;
}

pre {
  margin-bottom: 0;
}

pre code {
  display: block;
}

p {
  font-family: 'Merriweather', serif;
  font-weight: 200;
  line-height: 1.5em;
}

.container {
  max-width: 1280px;
  margin: auto;
}

.inner-hero {
  background: $primaryColor;
  color: $white;
  padding: 3em 2em;

  @media screen and (max-width: 768px) {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 768px;
  }
}
