<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clément Poncet - Développeur fullstack & mentor</title>
    <link rel="stylesheet" href="{{ get_url(path="style.css") }}" />
    <link rel="stylesheet" href="{{ get_url(path="css/ally-dark.css") }}" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <script src="https://unpkg.com/feather-icons"></script>
    <script src="//unpkg.com/@highlightjs/cdn-assets@11.6.0/highlight.min.js"></script>
    <script src="https://unpkg.com/moment@2.29.4/min/moment-with-locales.min.js"></script>
    <script>
      moment.locale('fr');
    </script>
  </head>
  <body>
    <header>
      <div class="container">
        <a href="/">
          <div class="logo-holder">
            <div class="logo">&</div>
            <div class="title">
              <span>Clément Poncet</span>
              <span class="desc">Développeur fullstack & mentor</span>
            </div>
          </div>
        </a>

        <nav>
          <a href="{{ get_url(path="@/blog/_index.md") }}">Blog</a>
          <a href="{{ get_url(path="@/projects/_index.md") }}">Projets</a>
          <a aria-label="github" target="_blank" href="https://github.com/cponcet"><i data-feather="github"></i></a>
          <a aria-label="linkedin" target="_blank" href="https://www.linkedin.com/in/cl%C3%A9ment-poncet-a1b08b89/"><i data-feather="linkedin"></i></a>
        </nav>
      </div>
    </header>
    <main>{% block content %} {% endblock %}</main>
    <footer>
      <div class="container">Made with Rust & Zola</div>
    </footer>
    <script>
      feather.replace()
    </script>
    <script>hljs.highlightAll();</script>
  </body>
</html>
