{% extends "base.html" %} {% block content %}

<section class="inner-hero">
  <div class="container">
    <span>{{ page.date }}</span>
    <h1>{{ page.title }}</h1>
  </div>
</section>
<section class="blog container post">{{ page.content | safe }}</section>

<script>
  const getMoment = new Promise((resolve, reject) => {
    const momentScript = document.createElement('script');
    document.body.appendChild(momentScript);
    momentScript.onload = resolve;
    momentScript.onerror = reject;
    momentScript.async = true;
    momentScript.src =
      'https://unpkg.com/moment@2.29.4/min/moment-with-locales.min.js';
  });

  getMoment.then(() => {
    moment.locale('fr');
    document.querySelector('.inner-hero .container span').innerText = moment(
      '{{ page.date }}',
      'YYYY-MM-DD'
    ).fromNow();
  });
</script>

{% endblock content %}
